@font-face {
    font-family: 'aldosemibold';
    src: url('fonts/aldo_pc-webfont.woff2') format('woff2'),
        url('fonts/aldo_pc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
