:root {
    --fuentePrimaria: 'aldosemibold', sans-serif;
    --fuenteSecundaria: 'allerregular';
    --colorAzulOscuro: #233d58;
    --colorAzulClaro: #29abe2;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--fuentePrimaria);
    background: purple;
    position: relative;
}

header {
    width: 100%;
    height: 3.5rem;
    background: var(--colorAzulOscuro);
    position: relative;
}

header h1 {
    display: none;
}

header nav .ioMenuMovil {
    height: 2.5rem;
    width: 12rem;
    cursor: pointer;
    line-height: 4rem;
    margin: 0rem 0rem 0rem 1rem;
    padding-top: 0.5rem;
}

header nav .ioMenuMovil i {
    color: white;
    font-size: 2.5rem;
    display: block;
    height: 100%;
}

header nav #card_menu {
    display: none;
    position: relative;
    width: 23rem;
    background: white;
    top: -3rem;
    left: 0rem;
    border-right: 0.3rem solid #afaeae;
    z-index: 999;
    padding-bottom: 5rem;
}

header nav #card_menu #logo_menu {
    height: 20rem;
    width: 80%;
    margin: 3rem 0rem;
    margin-left: 10%;
    margin-bottom: 5rem;
}

header nav #card_menu ul {
    margin-top: -2rem;
}

header nav #card_menu ul li {
    list-style: none;
    font-size: 1.5em;
    line-height: 3.7rem;
}

header nav #card_menu ul li a {
    text-decoration: none;
    color: black;
}

header nav #card_menu #hideMenu i {
    color: #000;
    font-size: 2.5rem;
}

header nav #card_menu #logo_menu img {
    width: 100%;
}

header #prev_section,
header #next_section {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    /* overflow: hidden; */
    margin: 0.5rem;
    position: absolute;
    top: 0rem;
}

header #prev_section {
    right: 3.5rem;
}

header #next_section {
    right: 0.5rem;
}

header #prev_section i,
header #next_section i {
    font-size: 2.5rem;
    display: block;
    color: white;
    width: 100%;
    position: relative;
    top: 0rem;
    left: 0.3rem;
}

@media (min-width: 480px) {
    body {
        background: red;
    }
}

@media (min-width: 600px) {
    body {
        background: orange;
    }
}

@media (min-width: 767px) {
    body {
        background: yellow;
    }

    header {
        height: 5rem;
    }

    header h1 {
        display: inline-block;
        width: 28%;
        margin: 0rem;
        height: 5rem;
        margin-left: 8rem;
        line-height: 5rem;
        min-width: 20rem;
    }

    header h1>* {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        margin: 0rem 0.3rem;
    }

    header h1 figure {
        height: 4rem;
        width: 4rem;
        margin: 0rem;
    }

    header h1 figure img {
        width: 100%;
    }

    header nav {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        position: relative;
    }

    header nav #showMenu,
    header nav #hideMenu {
        display: none;
    }

    header nav #card_menu {
        display: inline-block !important;
        border: none;
        background: none;
        position: relative;
        top: 0rem;
        width: 100%;
        text-align: right;
        padding-bottom: 0rem;
    }

    header nav #card_menu figure {
        display: none;
    }

    header nav #card_menu ul {
        padding: 0rem;
        margin: 0rem;
        margin-top: -1.5rem;
    }

    header nav #card_menu ul li {
        display: inline-block;
        width: 7.5rem;
        text-align: center;
        font-size: 1.2em;
        margin: 0rem -0.2rem;
    }

    header nav #card_menu ul li a {
        color: white;
    }

    header #prev_section,
    header #next_section {
        position: absolute;
        width: 5rem;
        height: 5rem;
        background: var(--colorAzulClaro);
        right: 4rem;
        z-index: 999;
        border-radius: 50%;
    }

    header #prev_section i,
    header #next_section i {
        font-size: 4rem;
        text-align: center;
        top: 0.5rem;
    }

    header #prev_section {
        top: 11.5rem;
    }

    header #next_section {
        top: 19rem;
    }
}

@media (min-width: 950px) {
    body {
        background: green;
    }
}
