/* VARIABLES */
:root {
    --fuentePrimaria: 'aldosemibold', sans-serif;
    --fuenteSecundaria: 'allerregular';
    --colorAzulOscuro: #233d58;
    --colorAzulClaro: #29abe2;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--fuentePrimaria);
    position: relative;
}

/* HEADER */
header {
    width: 100%;
    height: 3.5rem;
    background: var(--colorAzulOscuro);
    position: relative;
    z-index: 999;
}

header h1 {
    display: none;
}

header nav .ioMenuMovil {
    height: 2.5rem;
    width: 12rem;
    cursor: pointer;
    line-height: 4rem;
    margin: 0rem 0rem 0rem 1rem;
    padding-top: 0.5rem;
}

header nav .ioMenuMovil i {
    color: white;
    font-size: 2.5rem;
    display: block;
    height: 100%;
}

header nav #card_menu {
    display: none;
    position: relative;
    width: 23rem;
    background: white;
    top: -3rem;
    left: 0rem;
    border-right: 0.3rem solid #afaeae;
    z-index: 999;
    padding-bottom: 5rem;
}

header nav #card_menu #logo_menu {
    height: 20rem;
    width: 80%;
    margin: 3rem 0rem;
    margin-left: 10%;
    margin-bottom: 5rem;
}

header nav #card_menu ul {
    margin-top: -2rem;
}

header nav #card_menu ul li {
    list-style: none;
    font-size: 1.5em;
    line-height: 3.7rem;
}

header nav #card_menu ul li a {
    text-decoration: none;
    color: black;
}

header nav #card_menu #hideMenu i {
    color: #000;
    font-size: 2.5rem;
}

header nav #card_menu #logo_menu img {
    width: 100%;
}

header #prev_section,
header #next_section {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    /* overflow: hidden; */
    margin: 0.5rem;
    position: absolute;
    top: 0rem;
}

header #prev_section {
    right: 3.5rem;
}

header #next_section {
    right: 0.5rem;
}

header #prev_section i,
header #next_section i {
    font-size: 2.5rem;
    display: block;
    color: white;
    width: 100%;
    position: relative;
    top: 0rem;
    left: 0.3rem;
}

/* SLIDER */
#slider {
    width: 100%;
    position: relative;
    height: 60rem;
}

#slider section.slide {
    position: absolute;
    width: 100%;
    top: -2rem;
    left: 0rem;
}

/* HOME */
#slider #home {
    background: var(--colorAzulOscuro);
    font-family: var(--fuenteSecundaria);
    position: relative;
    text-align: center;
    padding-bottom: 7rem;
}

#slider #home .mainanimation {
    width: 80%;
    margin-left: 10%;
    min-height: 30rem;
    position: absolute;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: none;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#slider #home .mainlogo {
    background: none;
    position: relative;
    width: 60vw;
    margin-left: 20vw;
    min-height: 43rem;
}

#slider #home .mainlogo h2 {
    font-size: 1.2em;
    padding-top: 8rem;
    color: white;
    font-weight: lighter;
}

#slider #home .mainlogo strong {
    font-size: 2em;
    font-family: var(--fuentePrimaria);
    display: block;
}

#slider #home .mainlogo figure,
#slider #home .mainlogo figure img {
    width: 100%;
    margin: 0rem;
}

#slider #home .buttonspage {
    width: 100%;
    text-align: center;
}

#slider #home .buttonspage>* {
    display: inline-block;
    width: 40%;
    margin: 0.5rem 2.5%;
    color: white;
    padding: 1.5rem 2.5%;
}

#slider #home #contratame {
    cursor: pointer;
    background: #f8931f;
}

#slider #home a {
    text-decoration: none;
    background: var(--colorAzulClaro);
}

#slider #aboutme {
    height: 40rem;
    background: yellow;
}

#slider #skills {
    height: 30rem;
    background: red;
}

#slider #portfolio {
    height: 20rem;
    background: blue;
}

#slider #blog {
    height: 10rem;
    background: purple;
}

/*CONTACTO*/
#contact_form {
    position: absolute;
    right: 0rem;
    top: 3.5rem;
    background: white;
    width: 25rem;
    border-top: 0.1rem solid black;
    box-shadow: 0rem 0rem 0.3rem #9f9e9e;
    font-family: var(--fuenteSecundaria);
    height: 100vh;
    z-index: 999;
    display: none;
}

#contact_form #close_form {
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: 85%;
    top: 19rem;
}

#contact_form #close_form:hover {
    cursor: pointer;
}

#contact_form #close_form:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f00d";
    font-weight: 900;
    font-size: 2.8rem;
    position: relative;
    top: 0.05rem;
    left: 0.6rem;
}

#contact_form figure {
    height: 18rem;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    background: var(--colorAzulClaro);
}

#contact_form figure img {
    height: 100%;
    margin: 0rem;
}

#contact_form p {
    margin: 2rem;
    width: 90%;
    margin-left: 5%;
}

#contact_form input,
#contact_form textarea {
    display: block;
    margin: 2rem;
    border: none;
    border-bottom: 0.2rem solid gray;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 0.3rem;
    margin-bottom: 5rem;
    font-weight: bold;
}

#contact_form #button {
    background: #f8911f;
    color: white;
    border: none;
    padding: 0.8rem 0rem;
    border-radius: 0.5rem;
}

#contact_button {
    width: 6rem;
    height: 6rem;
    background: #f8931f;
    border-radius: 50%;
    color: white;
    z-index: 80;
    right: 1rem;
    position: fixed;
    top: 80vh;
}

#contact_button:hover {
    cursor: pointer;
}

#contact_button:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f1d8";
    font-weight: 900;
    position: relative;
    font-size: 2.1em;
    right: -0.8rem;
    top: 0.5rem;
}

/* FOOTER */
footer {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    z-index: 90;
    height: 15rem;
    position: fixed;
    bottom: -13rem;
    transition-duration: 0.4s;
}

footer:hover {
    bottom: 0rem;
}

footer:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
    font-weight: 900;
    position: absolute;
    top: 0rem;
    left: 50%;
    width: 8rem;
    height: 8rem;
    margin-left: -4rem;
    margin-top: -3rem;
    border-radius: 50%;
    background: black;
    color: black;
    transform: rotate(180deg);
    font-size: 5em;
    transition-duration: 0.4s;
    text-shadow: 0rem 1.5rem 0rem white;
}

footer:hover:after {
    transform: rotate(0deg);
    background: white;
    color: black;
    text-shadow: 0rem 0rem 0rem black;
}

footer .rrss {
    margin-top: 7rem;
    width: 100%;
    height: 4rem;
}

footer .rrss a {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    position: relative;
}

footer .rrss a i {
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 2em;
    top: 0.5rem;
    left: 0.5rem;
}

/* footer .rrss a i {
  color: white;
} */
footer p {
    font-size: 0.7em;
    font-weight: lighter;
    font-family: var(--fuenteSecundaria);
}

/* MEDIA QUERIES */
@media (min-width: 480px) {
    #slider #home .mainlogo {
        width: 27rem;
        left: 50%;
        margin-left: -13.5rem;
        padding-bottom: 5rem;
    }

    #slider #home .mainlogo h2 {
        font-size: 1.4em;
    }

    #slider #home .mainlogo figure {
        width: 80%;
        margin-left: 10%;
    }

    #slider #home .buttonspage>* {
        width: 20rem;
    }
}

@media (min-width: 600px) {
    body {
        background: orange;
    }
}

@media (min-width: 767px) {
    body {
        background: yellow;
    }

    header {
        height: 5rem;
    }

    header h1 {
        display: inline-block;
        width: 28%;
        margin: 0rem;
        height: 5rem;
        margin-left: 8rem;
        line-height: 5rem;
        min-width: 20rem;
    }

    header h1>* {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        margin: 0rem 0.3rem;
    }

    header h1 figure {
        height: 4rem;
        width: 4rem;
        margin: 0rem;
    }

    header h1 figure img {
        width: 100%;
    }

    header nav {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        position: relative;
    }

    header nav #showMenu,
    header nav #hideMenu {
        display: none;
    }

    header nav #card_menu {
        display: inline-block !important;
        border: none;
        background: none;
        position: relative;
        top: 0rem;
        width: 100%;
        text-align: right;
        padding-bottom: 0rem;
    }

    header nav #card_menu figure {
        display: none;
    }

    header nav #card_menu ul {
        padding: 0rem;
        margin: 0rem;
        margin-top: -1.5rem;
    }

    header nav #card_menu ul li {
        display: inline-block;
        width: 7.5rem;
        text-align: center;
        font-size: 1.2em;
        margin: 0rem -0.2rem;
    }

    header nav #card_menu ul li a {
        color: white;
    }

    header #prev_section,
    header #next_section {
        position: absolute;
        width: 5rem;
        height: 5rem;
        background: var(--colorAzulClaro);
        right: 4rem;
        z-index: 999;
        border-radius: 50%;
    }

    header #prev_section i,
    header #next_section i {
        font-size: 4rem;
        text-align: center;
        top: 0.5rem;
    }

    header #prev_section {
        top: 11.5rem;
    }

    header #next_section {
        top: 19rem;
    }

    #contact_form {
        top: 5rem;
        width: 40rem;
    }

    #contact_button {
        right: 3.5rem;
    }
}

@media (min-width: 950px) {
    body {
        background: green;
    }
}
